* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

    body {
        background-color: #0f0f1e;
        color: #ff00bf;
        font-size: 16px;
        overflow: hidden;
    }
    
    .header {
        position: fixed;
        width: 90vw;
        top: 0;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }
   
    header .logo {
        font-family: "Orbitron", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        
        display: inline-block;
    }
    .logo-img {
        vertical-align: middle;
        margin-right: 10px;
        
    }


    header nav ul li {
        display: inline-block;
        margin: 0 40px;
        cursor: pointer;
        position: relative;
        padding: 5px 0;

    }

    header nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    header nav ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #00f7ff;
        transition: width 0.5s ease;
    }

    header nav ul li a:hover::after {
        width: 100%;
    }


/* Tabelas */

table {
    width: 80%;
    margin: 0 50px;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #1a1a2e;
    color: #fff;
}

tr:hover {
    background-color: #1a1a2e;
}
/* Clientes */
    section.formulario {
      padding: 5px ;
    }

    .client {
        text-align: center;
        margin-top: 30px;
        font-size: 2rem;
        font-weight: 600;
        color: #ff00bf;
        text-shadow: 0 0 10px rgb(0, 0, 0);
    }
    .client-form {
        width: 70%;
        margin: 30px auto;
        line-height: 5;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    }

    .client-form input, .client-form textarea {
        width: 40%;
       background-color: rgb(222, 138, 230);
       border:0;
       outline: 0;
       padding: 10px;
       border-radius: 10px;
       font-size: 18px;
           
    }
    .client-form input::placeholder {
        color: #0f0f1e;
    }
    .client-form textarea{
        resize: none;
        max-height: 200px;

    }
     .client-form textarea::placeholder {
        color: #0f0f1e;
    }

    .client-form .btn-enviar {
       margin-top: 10px;   
        
    }
    
    .client-form .btn-enviar button {
        width: 100px;
        padding: 12px 16px;
        background: linear-gradient(90deg, #f9c1d5, #ff00bf);
        border-radius: 30px;
        color: #ffffff;
        font-size: 1 rem;
        font-weight: 600;
        cursor: pointer;
        border: 0;
        
    }

}
/* editor de texto 
#text{
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(255, 0, 166);
    font-size: 20px;
    padding: 10px;
}
#text:focus{
    outline: none;
}
*/